.container {
  position: absolute;
  width: 445px;
  height: 426px;
  left: 1160px;
  top: 285px;
  max-width: 100%;
}
.companyBrand {
  /* Sneaker Company */

  position: relative;
  height: 13px;
  left: 0%;
  right: 0%;
  top: calc(50% - 13px / 2 - 206.5px);

  font-family: Kumbh Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 13px;
  /* identical to box height */

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #ff7e1b;
}

.shoppingWhiteCart {
  position: absolute;
  left: 0%;
  right: 30%;
  top: 0%;

  fill: white;
  outline-color: white;

  color: white;
}

.title {
  position: absolute;
  height: 96px;
  left: 0%;
  right: 0%;
  top: calc(50% - 96px / 2 - 125px);

  font-family: Kumbh Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 48px;
  /* or 109% */

  color: #1d2026;
}
.description {
  position: absolute;
  height: 78px;
  left: 0%;
  right: 0%;
  top: calc(50% - 78px / 2 - 6px);

  font-family: Kumbh Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  color: #69707d;
}

.cartButton {
  position: absolute;
  width: 272px;
  height: 56px;
  left: 173px;
  top: 370px;

  border-color: transparent;
  background: #ff7e1b;

  border-radius: 10px;
}

.cartButton:hover {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  background: solid #ff7e1b;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transition: background 0.5s ease-in-out;
}
.cartText {
  /* Add to cart */
  text-align: center;
  position: absolute;
  height: 16px;
  left: 27.73%;
  right: 0%;
  top: calc(50% - 16px / 2 + 2.5px);

  font-family: Kumbh Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */

  color: #ffffff;
}

.containerAmounts {
  position: absolute;
  left: 0%;
  right: 61.12%;
  top: 63.38%;
  bottom: 20.66%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2.5rem 1rem;
  place-items: center;
}

.innerContainer {
  /* Group 2 */

  position: absolute;
  left: 56.18%;
  right: 17.08%;
  top: 91.31%;
  bottom: 4.23%;
}

.price {
  position: absolute;
  height: 28px;
  left: 0%;
  right: 38.73%;
  top: calc(50% - 28px / 2 - 16px);

  font-family: Kumbh Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;

  color: #1d2026;
}
.originalAmount {
  /* $250.00 */

  position: absolute;
  height: 26px;
  left: 0%;
  right: 63.58%;
  top: 72%;

  font-family: Kumbh Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-decoration-line: line-through;

  color: #b6bcc8;
}

.percentContainer {
  position: absolute;
  left: 70.52%;
  right: 0%;
  top: 5.88%;
  bottom: 54.41%;
  background-color: #ffeee2;
  border-radius: 5px;
}
.percent {
  position: relative;
  height: 16px;
  left: 135px;
  right: 15.69%;
  top: calc(50% - 50px / 2 + 1.5px);

  font-family: Kumbh Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */
  color: #ff7e1b;
}
.quantity {
  /* 0 */
  position: absolute;
  height: 16px;
  left: 46.82%;
  right: 46.82%;
  top: calc(50% - 16px / 2 + 3px);

  font-family: Kumbh Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */

  text-align: center;

  color: #1d2026;
}

.addSubContainer {
  position: absolute;
  left: 0%;
  right: 64.72%;
  top: 86.85%;
  bottom: 0%;
}
.removeIcon {
  color: #ffab6a;
}
.addIcon {
  color: #ffab6a;
}

.badgeContainer {
  font-family: Kumbh Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */

  text-align: center;

  color: #1d2026;
  background-color: #f6f8fd;
}

.card {
  display: flex;
  flex-direction: column;
}
.containerCart {
  padding: 2rem;
  text-align: center;
}
.header {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.header div {
  flex: 1;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  margin-bottom: 2rem;
}
.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}
.body > * {
  flex: 1;
}
.image {
  width: 100px;
}
.buttons > * {
  width: 25px;
  height: 30px;
  background-color: black;
  color: white;
  border: none;
  margin: 0.5rem;
  font-size: 1rem;
}
/******************* MEDIA QUERY **************************/
@media (max-width: 1300px) {
  .container {
    position: absolute;
    left: 750px;
  }
}
/* Tablets and under */
@media (max-width: 768px) {
}

/* Mobile */
@media (max-width: 500px) {
  .container {
    position: absolute;
    width: 375px;
    height: 300px;
    left: 0px;
    top: 68px;
  }
  .companyBrand {
    /* Sneaker Company */

    position: absolute;
    width: 327px;
    height: 15px;
    left: 24px;
    top: 420px;

    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 1.84615px;
    text-transform: uppercase;

    color: #ff7e1b;
  }
  .title {
    position: absolute;
    width: 327px;
    height: 64px;
    left: 24px;
    top: 443px;

    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    /* or 114% */

    color: #1d2026;
  }

  .description {
    /* These low-profile sn */

    position: absolute;
    width: 327px;
    height: 100px;
    left: 24px;
    top: 522px;

    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */

    color: #69707d;
  }
  .containerAmounts {
    /* These low-profile sn */

    position: absolute;
    width: 327px;
    height: 100px;
    left: 24px;
    top: 562px;
    padding-top: 24px;

    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */

    color: #69707d;
  }
  .price {
    /* $125.00 */

    position: absolute;
    height: 28px;
    left: 0%;
    right: 67.48%;
    top: 75px;

    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;

    color: #1d2026;
  }
  .percentContainer {
    position: absolute;
    left: 37.42%;
    right: 46.93%;
    top: 80px;
    height: 30px;
    bottom: 8px;
  }
  .percent {
    position: relative;
    height: 20px;
    left: 132px;

    top: 62px;

    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    color: #ff7e1b;
  }
  .originalAmount {
    /* $250.00 */
    position: absolute;
    height: 26px;
    left: 80.67%;
    right: 0%;
    top: 645px;

    font-family: Kumbh Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    text-decoration-line: line-through;

    color: #b6bcc8;
  }
  .cartButton {
    position: absolute;
    width: 327px;
    height: 56px;
    left: 30px;
    top: 740px;
  }
}
