

.attribution{
    font-family:[Kumbh Sans] url(https://fonts.google.com/specimen/Kumbh+Sans);
    font-size: 11px; text-align: center; 
}

.attribution a { color: hsl(228, 45%, 44%); }


.container{
    position: fixed;
  
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 190px;
    justify-content: center;
}

