.galleryContainer {
  /* Group 10 */

  position: absolute;
  width: 445px;
  height: 565px;
  left: 380px;
  top: 3px;
}

.carouselInner {
  justify-content: center;
  position: absolute;
  width: 445px;
  height: 500px;
  left: 213px;
  top: 230px;
}

.lightboxPicture {
  position: absolute;
  width: 550px;
  height: 550px;
  left: 445px;
  top: 133px;

  border-radius: 15px;
}

.dImage {
  border-radius: 15px;
}

/* Rectangle Copy */

.li {
  width: 445px;
  height: 88px;
  opacity: 0.8;
  padding: 5px;
  border-radius: 10px;
}

.imageWrapper > div {
  position: absolute;
  width: 445px;
  height: 445px;
  left: 213px;
  top: 203px;
}
.textContainer {
  display: none;
}

​.showDiv {
  display: none;
}
​ .visibility {
  visibility: hidden;
}

.hiddenDiv {
  display: none;
}

.hidden {
  display: none;
}

.visible > div {
  display: block;
}

.carouselContainer {
  justify-self: center;
  position: absolute;
  width: 445px;
  height: 465px;
  left: 600px;
  top: 240px;
  border-radius: 15px;
}
.thumbnailContainer {
  position: absolute;
  width: 445px;
  height: 88px;
  left: 690px;
  top: 650px;
  flex-direction: row;
}

.shoes {
  position: absolute;
  width: 88px;
  height: 88px;
  left: -158px;
  top: 0%;

  border-radius: 15px;
}

.shoes2 {
  position: absolute;
  width: 88px;
  height: 88px;
  left: -39px;
  top: 0%;

  border-radius: 15px;
}

.shoes3 {
  position: absolute;
  width: 88px;
  height: 88px;
  left: 80px;
  top: 0%;

  border-radius: 15px;
}

.shoes4 {
  position: absolute;
  width: 88px;
  height: 88px;
  left: 199px;
  top: 0%;
}
/******************* MEDIA QUERY **************************/
@media (max-width: 670px) {
  .innerContainer {
    width: 100%;
  }
  .carouselContainer {
    width: 100%;
  }
}
/* Tablets and under */
@media (max-width: 768px) {
  .innerContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .carouselContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .innerContainer {
    height: 110px;
    width: 300px;
    flex-direction: column;
  }
  .carouselContainer {
    height: 110px;
    width: 300px;
    flex-direction: column;
  }
  .carouselContainer {
    position: absolute;
    width: 400px;
    min-width: 100px;
    height: auto;
    left: 0px;
    top: 68px;
    padding-top: 10px;
  }
}
